@{
    ViewData["Title"] = "Fail";
}

<div class="card shadow border-light mb-3" style="max-width: auto;">
    <div class="card-header text-center border-light">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="card bg-danger text-light border-light">
        <div class="card-body">
            <h6 class="alert-heading">For mange logins, din acconut bliver nu blokeret</h6>
        </div>
    </div>

    <div class="card-footer border-light text-center">
        <p>Join the fun, LOGIN!</p>
    </div>
</div>